page-results {
  .results h1 {
    text-align: center;
  }

  .results h3 {
    font-size: 3.0vh;
    color: #666666;
  }

  .results h4 {
    font-size: 2.5vh;
    color: #666666;
  }

  .results h5 {
    font-size: 3.0vh;
    text-align: center;
  }

  .item-md ion-icon {
    font-size: 10.0vh;
  }

  .number {
    background: #12948e;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
  }

  .goldTrophy {
    background: #f2a818;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    white-space: nowrap;
  }

  .silverTrophy {
    background: #c0c0c0;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
  }

  .bronseTrophy {
    background: #cd7f32;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
  }

  ion-icon {
    font-size: 4.5vh !important;
  }

  .x {
    background: #ff689d;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 1000px;
    text-align: center;
    width: 1.6em;
  }
}
