page-results {
  h1.results {
    text-align: center;
  }

  h2.results {
    font-size: 2.8vh;
    font-weight: 400;
  }

  h5.results {
    font-size: 3.0vh;
    text-align: center;
  }

  h1.title {
    text-align: left;
    margin-left: 20px; 
  }

  h5.subtitle {
    text-align: left;
    margin-left: 20px;
  }

  .icon {
    color: #fff;
    border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    -webkit-border-radius: 1.2em;
    width: 2em;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
    float: left;
  }

  .goldTrophy {
    background: #f2a818;
  }

  .silverTrophy {
    background: #c0c0c0;
  }

  .bronseTrophy {
    background: #cd7f32;
  }

  h1.x {
    color: #fff;
    width: 2em;
    background: #ff689d;
  }

  h1.number {
    color: #fff;
    width: 2em;
    background: #336699;
  }
}
