page-home {

    .ski {
        width: 20%;
        height: auto;
        margin: 5%;
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }

    @-webkit-keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }

    .scroll-content{

        background-image: url(./../assets/imgs/bg_landscape-hd.png);
        background-position: 0px 0px;
        background-repeat: repeat-x;
      background-size:cover;
        -webkit-animation:animatedBackground 240s linear infinite;
       -moz-animation:animatedBackground 240s linear infinite;
        -ms-animation:animatedBackground 240s linear infinite;
         -o-animation:animatedBackground 240s linear infinite;
            animation:animatedBackground 240s linear infinite;
    }
}
