<ion-header>
  <ion-navbar>
    <ion-title>Athlete Profile page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="athlete" class="container">
    <div class="athlete">
      <h3>{{ athlete.attributes.name }}</h3>
      <p>{{ athlete.attributes.age }}</p>
      <p>{{ athlete.attributes.home }}</p>
      <p>{{ athlete.attributes.starttime }} </p>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Click To Choose Rating</ion-label>
        <ion-select [(ngModel)]="vote" interface="alert" (ionChange)="clickToVote(athlete.id)" cancelText="Cancel" okText="Ok">
          <ion-option value="1">Give 1 star</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- <button *ngIf="vote" ion-button (click)="clickToVote(athlete.id)">Click To Vote</button> -->
  </ng-container>
</ion-content>