page-athlete {
  
  .img-circle {
    border-radius: 50%;
    margin-top: 10%;
    width: 55%;
  }
  .athlete {
    text-align: center;
    background-image: url("./../assets/imgs/mountain_image_crop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% -550%; 
  }

  .athlete h2, p {
    color: #666666;
  }

  .athlete p { font-size: 2.3vh }

  .voteBtn ion-icon {
    font-size: 400%;
    padding-right: 30px;
    font-weight: 400;
  }

  .voteBtn {
    padding: 15% 10%;
    position: fixed;
    bottom: 0;
    margin-bottom: 15%;
  }

  .voteBtn h1 {
    font-weight: 400;
  }

  .active:active {
    background-color: #ff689d;
    color: #fff;
  }

  .notActive {
    background-color: #fff;
    color: #eee;
    border-top: 1px solid #eee; 
  }

  .raceTimeBtn {
    margin-bottom: 15%;
  }
  
}
