page-athletes {
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        width: 55px;
        height: 55px;
    }

    .item-ios ion-avatar img {
        width: 55px;
        height: 55px;
    }
}
